body {
  font-family: "YSRegular", arial;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
  user-select: none;
}

p {
  font-size: 25px;
  text-align: center;
  user-select: none;
}

a {
  font-size: 25px;
  text-align: center;
  inline-size: 550px;
  overflow-wrap: break-word;
}

@font-face {
  font-family: "YSRegular";
  src: url("./fonts/YSRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}